    </div>

<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

            <ul class="social">
              <li><a href="https://www.linkedin.com/in/leandrofavarin">LinkedIn</a></li>
              <li><a href="http://github.com/leandrofavarin">GitHub</a></li>
              <li><a href="http://instagram.com/leandrofavarin">Instagram</a></li>
              <li><a href="http://stackoverflow.com/users/3928187">StackOverflow</a></li>
              <li><a href="http://twitter.com/leandrofavarin">Twitter</a></li>
            </ul>

        </div>

    </div>

</footer>
