<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <!-- <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/leandrofavarin">Author</a></li> -->
        <li class="nav-github"><a href="https://github.com/leandrofavarin">GitHub</a></li>
        <li class="nav-twitter"><a href="https://twitter.com/leandrofavarin">Twitter</a></li>
        <li class="nav-linkedin"><a href="https://www.linkedin.com/in/leandrofavarin">LinkedIn</a></li>
        <li class="nav-stackoverflow"><a href="http://stackoverflow.com/users/3928187">StackOverflow</a></li>
        <li class="nav-instagram"><a href="http://instagram.com/leandrofavarin">Instagram</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
