---
title: Presentations
layout: default
---

<div class="content presentation">
  
  <div class="post">
    <div class="post-info">
      <span>Presented by</span>
      {% if page.author %}
          {{ page.author }}
      {% else %}
          {{ site.author.name }}
      {% endif %}

      {% if page.date %}
        <br>
        <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
      {% endif %}
      
      {% if page.homepage %} 
        at <a href="{{ page.homepage }}">{% endif %}{{ page.event }} ({{ page.location }}){% if page.homepage %}</a>
      {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>

    {{ content }}

  </div>

{% if page.video %}
<section class="video">
	<p>Video available at <a href="{{ page.video }}">{{ page.video }}</a>.</p>
</section>
{% endif %}
{% if page.youtube %}
<section class="youtube">
	<iframe src="https://www.youtube-nocookie.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
</section>
{% endif %}
{% if page.parleys %}
<section class="parleys">
  <div data-parleys-presentation="{{ page.parleys }}">
    <script async type="text/javascript" src="https://parleys.com/js/parleys-share.js"></script>
	</div>
</section>
{% endif %}
{% if page.vimeo %}
<section class="vimeo">
<iframe src="https://player.vimeo.com/video/{{ page.vimeo }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
{% endif %}
{% if page.speakerdeck %}
<section class="speakerdeck">
<script async class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" data-ratio="1.77777777777778" src="https://speakerdeck.com/assets/embed.js"></script>
</section>
{% endif %}
</div>
	